[Unit]
Description=Consume Reads Service
After=kafka@1.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill consume-reads
ExecStartPre=-/usr/bin/docker rm consume-reads
ExecStartPre=/usr/bin/sh -c "docker run -d --net host --name consume-reads anaerobic/fsharp-kafka-consumer reads http://`etcdctl get /services/kafka/1/host`:`etcdctl get /services/kafka/1/port`"
ExecStart=/usr/bin/docker logs -f consume-reads
ExecStop=/usr/bin/docker stop consume-reads

[X-Fleet]
Conflicts=consume-reads@*.service