[Unit]
Description=Kafka Service
After=zookeeper@%i.service
Requires=zookeeper@%i.service
BindsTo=zookeeper@%i.service

[Service]
TimeoutStartSec=0
EnvironmentFile=-/etc/environment
ExecStartPre=-/usr/bin/docker kill foo-kafka
ExecStartPre=-/usr/bin/docker rm foo-kafka
ExecStartPre=/usr/bin/docker run -d -p 9092:9092 -h ${COREOS_PUBLIC_IPV4} --name foo-kafka --link foo-zk:zookeeper confluent/kafka
ExecStart=/usr/bin/docker logs -f foo-kafka
ExecStop=/usr/bin/docker stop foo-kafka

[X-Fleet]
Conflicts=kafka@*.service
MachineOf=zookeeper@%i.service