[Unit]
Description=Kafka Announcer
BindsTo=kafka@%i.service
After=kafka@%i.service

[Service]
EnvironmentFile=-/tmp/kafka@%i
ExecStart=/bin/sh -c "while true; do etcdctl set /services/kafka@%i '{ \"host\": \"%H\", \"port\": ${KAFKA_PORT}} }' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/kafka@%i

[X-Fleet]
MachineOf=kafka@%i.service