[Unit]
Description=Redis Service
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill foo-redis
ExecStartPre=-/usr/bin/docker rm foo-redis
ExecStart=/usr/bin/docker run -P --name foo-redis redis
ExecStop=/usr/bin/docker stop foo-redis

[X-Fleet]
Conflicts=redis.service