[Unit]
Description=Zookeeper Service

Requires=docker.service
Requires=zookeeper-discovery@%i.service

After=docker.service
Before=zookeeper-discovery@%i.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=-/etc/environment
ExecStartPre=-/usr/bin/docker kill foo-zk
ExecStartPre=-/usr/bin/docker rm foo-zk
ExecStartPre=/usr/bin/docker run -d -p :2181 -h ${COREOS_PUBLIC_IPV4} --name foo-zk confluent/zookeeper
ExecStart=/usr/bin/docker logs -f foo-zk
ExecStop=/usr/bin/docker stop foo-zk

[X-Fleet]
Conflicts=zookeeper@*.service