[Unit]
Description=Foo HTTP Announcer

Requires=etcd.service
Requires=foo-http.service

After=etcd.service
After=foo-http.service
BindsTo=foo-http.service

[Service]
EnvironmentFile=-/etc/environment
ExecStart=/bin/sh -c "\
	while true; do \
		etcdctl set /services/foo-http/host '${COREOS_PUBLIC_IPV4}'; \
		etcdctl set /services/foo-http/port $(docker port foo-http | awk -F':' '{print $2}') --ttl 60; \
		sleep 45; \
	done;"
ExecStop=/usr/bin/etcdctl rm /services/foo-http

[X-Fleet]
MachineOf=foo-http.service
