[Unit]
Description=Nginx Proxy to Play HTTP Service

Requires=docker.service
Requires=nginx-proxy-to-play-http-discovery.service

After=docker.service
Before=nginx-proxy-to-play-http-discovery.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=-/etc/environment
ExecStartPre=-/usr/bin/docker kill nginx-proxy-to-play-http
ExecStartPre=-/usr/bin/docker rm nginx-proxy-to-play-http
ExecStartPre=/usr/bin/sh -c "docker run --name nginx-proxy-to-play-http -d -P -e TARGET_URL=\"http://$(etcdctl get /services/play-http/host):$(etcdctl get /services/play-http/port)\" cannanieltf/nginx-simple"
ExecStart=/usr/bin/docker logs -f nginx-proxy-to-play-http
ExecStop=/usr/bin/docker stop nginx-proxy-to-play-http

[X-Fleet]
MachineOf=play-http.service
Conflicts=nginx-proxy-to-play-http.service
