[Unit]
Description=Play Proxy to Nginx HTTP Service

Requires=docker.service
Requires=nginx-http.service

After=docker.service
After=nginx-http.service

[Service]
TimeoutStartSec=0
KillMode=none
ExecStartPre=-/usr/bin/docker kill play-proxy-to-nginx-http
ExecStartPre=-/usr/bin/docker rm play-proxy-to-nginx-http
ExecStartPre=/usr/bin/sh -c "docker run --name play-proxy-to-nginx-http -d -p 80:9000 -e TARGET_URL=\"http://$(etcdctl watch /services/nginx-http/host):$(etcdctl watch /services/nginx-http/port)\" bsamaripaltf/play-proxy"
ExecStart=/usr/bin/docker logs -f play-proxy-to-nginx-http
ExecStop=/usr/bin/docker stop play-proxy-to-nginx-http

[X-Fleet]
MachineOf=nginx-http.service
Conflicts=play-proxy-to-nginx-http.service
