[Unit]
Description=Play HTTP Service

Requires=docker.service

After=docker.service

[Service]
TimeoutStartSec=0
KillMode=none
ExecStartPre=-/usr/bin/docker kill play-http
ExecStartPre=-/usr/bin/docker rm play-http
ExecStartPre=-/usr/bin/docker pull localhub.chronotrack.com:5000/bsamaripa/play-server
ExecStart=/usr/bin/docker run --name play-http -i -p 8080:9000 localhub.chronotrack.com:5000/bsamaripa/play-server
ExecStop=/usr/bin/docker stop play-http

[X-Fleet]
Conflicts=play-http.service
