[Unit]
Description=Play HTTP Announcer

Requires=etcd.service
Requires=play-http.service

After=etcd.service
After=play-http.service
BindsTo=play-http.service

[Service]
EnvironmentFile=-/etc/environment
ExecStart=/services/default-discovery.sh -d play-http -e play-http -p web=8080/tcp -ip ${COREOS_PUBLIC_IPV4} -h %h
ExecStop=/usr/bin/etcdctl rm /services/play-http

[X-Fleet]
MachineOf=play-http.service
