[Unit]
Description=Twitter HTTP Service
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill twitter-http
ExecStartPre=-/usr/bin/docker rm twitter-http
ExecStart=/usr/bin/docker run -P --name twitter-http anaerobic/image-twitter-server
ExecStop=/usr/bin/docker stop twitter-http

[X-Fleet]
Conflicts=twitter-http.service
